﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="QRCodeGenerator.aspx.cs" Inherits="CarParkingSystem._QRCodeGenerator" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content" runat="server">
   <asp:PlaceHolder ID="plBarCode" runat="server" />
</asp:Content>
