/*
 *  Document   : themes.css
 *  Author     : pixelcave
 *  Description: The themes stylesheet of the template. The classes can be used to
 *  alter the color, the background color or the border color of an element individually
 *
 */

/*
=================================================================
THEME DEFAULT
=================================================================
*/

.themed-color-default {
    color: #db4a39 !important;
}

.themed-background-default {
    background-color: #db4a39 !important;
}

.themed-border-default {
    border-color: #db4a39 !important;
}

/*
=================================================================
THEME DEEPBLUE
=================================================================
*/

.themed-color-deepblue {
    color: #397edb !important;
}

.themed-background-deepblue {
    background-color: #397edb !important;
}

.themed-border-deepblue {
    border-color: #397edb !important;
}

/*
=================================================================
THEME DEEPGREEN
=================================================================
*/

.themed-color-deepgreen {
    color: #7ca955 !important;
}

.themed-background-deepgreen {
    background-color: #7ca955 !important;
}

.themed-border-deepgreen {
    border-color: #7ca955 !important;
}

/*
=================================================================
THEME DEEPPURPLE
=================================================================
*/

.themed-color-deeppurple {
    color: #b739db !important;
}

.themed-background-deeppurple {
    background-color: #b739db !important;
}

.themed-border-deeppurple {
    border-color: #b739db !important;
}

/*
=================================================================
THEME DEEPWOOD
=================================================================
*/

.themed-color-deepwood {
    color: #927254 !important;
}

.themed-background-deepwood {
    background-color: #927254 !important;
}

.themed-border-deepwood {
    border-color: #927254 !important;
}



/*
=================================================================
THEME Black
=================================================================
*/

.themed-color-black {
    color: black !important;
}

.themed-background-black {
    background-color: black !important;
}

.themed-border-black {
    border-color: black !important;
}


/*
=================================================================
THEME white
=================================================================
*/

.themed-color-white {
    color: white !important;
}

.themed-background-white {
    background-color: white !important;
}

.themed-border-white {
    border-color: white !important;
}


/*
=================================================================
THEME gold
=================================================================
*/

.themed-color-gold {
    color: #d5c37d !important;
}

.themed-background-gold {
    background-color: #d5c37d !important;
}

.themed-border-gold {
    border-color: #d5c37d !important;
}


/*
=================================================================
THEME chalk
=================================================================
*/

.themed-color-chalk {
    color: #f5f5f5 !important;
}

.themed-background-chalk {
    background-color: #f5f5f5 !important;
}

.themed-border-chalk {
    border-color: #f5f5f5 !important;
}

/*
=================================================================
THEME Red
=================================================================
*/

.themed-color-Red {
    color: #bc141a !important;
}

.themed-background-Red {
    background-color: #bc141a !important;
}

.themed-border-Red {
    border-color: #bc141a !important;
}

/*
=================================================================
THEME Orange
=================================================================
*/

.themed-color-Orange {
    color: #e36307 !important;
}

.themed-background-Orange {
    background-color: #e36307 !important;
}

.themed-border-Orange {
    border-color: #e36307 !important;
}

/*
=================================================================
THEME Midnight
=================================================================
*/

.themed-color-Midnight {
    color: #3d5560 !important;
}

.themed-background-Midnight {
    background-color: #3d5560 !important;
}

.themed-border-Midnight {
    border-color: #3d5560 !important;
}

/*
=================================================================
THEME Olive
=================================================================
*/

.themed-color-Olive {
    color: #ab9942 !important;
}

.themed-background-Olive {
    background-color: #ab9942 !important;
}

.themed-border-Olive {
    border-color: #ab9942 !important;
}