﻿#primary-nav li > ul a {
    margin: 0;
    background:  black;
    font-size: 13px;
}
#primary-nav li a {
    display: block;
    margin: 3px 0 0;
    background-color: black;
    color: #999;
    line-height: 20px;
    padding: 9px 10px 6px 40px;
}